.header {
    background-color: #191c1c;
    @include adaptiveValue("padding-top", 16, 8);
    @include adaptiveValue("padding-bottom", 16, 8);

    // .header__container
    &__container {
        max-width: toRem(1160);
        width: 100%;
        margin: 0 auto;
    }
    // .header__menu
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(40);
        // @include adaptiveValue("padding-top", 16, 8);
        // @include adaptiveValue("padding-bottom", 16, 8);
    }
    // .header__lang
    &__lang {
        display: flex;
        gap: toRem(16);
        margin-left: toRem(80);

        a {
            color: #fff;
            // font-size: toRem(20);
            @include adaptiveValue("font-size", 20, 14);
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
            &.active {
                font-weight: 800;
            }
            @media (max-width: $tablet) {
                // font-size: toRem(14);
            }
        }

        @media (max-width: $mobile) {
        }
    }
    // content
    &__content {
        display: flex;
        align-items: center;
        @media (max-width: $tablet) {
            gap: toRem(20);
        }
    }
    &__logo {
        @include adaptiveValue("max-width", 200, 100);
        img {
            max-width: 100%;
        }
    }
}
.menu {
    // .menu__body
    &__body {
    }
    // .menu__list
    &__list {
        display: flex;
        align-items: center;
        gap: toRem(32);
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        color: #fff;
        font-size: toRem(16);
        font-weight: 500;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // .menu__icon
    &__icon {
    }
}
.icon-menu {
}
