//====================================================================================================
// hero
.hero {
    position: relative;
    background-color: #191c1c;
    @include adaptiveValue("padding-top", 97, 68);
    @include adaptiveValue("min-height", 520, 428);
    // .hero__container
    &__container {
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    // .hero__content
    &__content {
        z-index: 1;
    }
    // .hero__title
    &__title {
        color: #fff;
        font-family: "HeliosCond";
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 120, 40);
    }
    // .hero__desc
    &__desc {
        color: #fff;
        font-weight: 400;
        line-height: normal;
        margin-top: toRem(16);
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("max-width", 440, 185);
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        // min-height: 100%;
        @include adaptiveValue("height", 580, 448);
        img {
            width: 100%;
            height: 100%;
            @include adaptiveValue("max-width", 960, 231);
        }
    }
}
.cta {
}
//====================================================================================================
// about
.about {
    @include adaptiveValue("padding-top", 220, 64);
    @include adaptiveValue("padding-bottom", 110, 32);
    // .about__container
    &__container {
    }
    // .about__wrapper
    &__wrapper {
        display: flex;
        @include adaptiveValue("gap", 64, 32);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .about__img
    &__img {
        position: relative;
        max-width: 100%;
        width: 100%;
        img {
            @media (max-width: $tablet) {
                width: 100%;
            }
        }
    }
    // .about__img-text
    &__img-text {
        position: absolute;
        padding: toRem(24);
        font-family: "HeliosCondLightC";
        font-size: toRem(32);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -1.92px;
        text-transform: uppercase;
        background: $blueColor;
        bottom: toRem(-50);
        right: toRem(-90);
        @media (max-width: $tablet) {
            right: toRem(18);
        }
        @media (max-width: $mobile) {
            display: none;
        }
    }
    // .about__content
    &__content {
    }
    // .about__title
    &__title {
        font-family: "HeliosCond";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 64, 36);
    }
    // .about__desc
    &__desc {
        @include adaptiveValue("margin-top", 32, 16);
    }
}

//========================================================================================================================================================
// statistics

.statistics {
    @include adaptiveValue("padding-top", 110, 32);
    @include adaptiveValue("padding-bottom", 110, 32);
    // .statistics__container
    &__container {
    }
    // .statistics__wrapper
    &__wrapper {
        display: flex;
        @include adaptiveValue("gap", 84, 48);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }
    // .statistics__content
    &__content {
        max-width: toRem(400);
        @media (max-width: $tablet) {
            max-width: toRem(264);
        }
        @media (max-width: $mobile) {
            max-width: 100%;
        }
    }
    // .statistics__title
    &__title {
    }
    // .statistics__desc
    &__desc {
        margin-top: toRem(16);
        &:last-child {
            margin-top: toRem(30);
            @media (max-width: $tablet) {
                margin-top: toRem(0);
            }
        }
    }
    // .statistics__num
    &__num {
        width: 100%;
        display: grid;
        gap: toRem(16);
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    // .statistics__item
    &__item {
        padding: toRem(24) toRem(16) toRem(24) toRem(16);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: toRem(18);
        background: $blueColor;
        &:first-child {
            grid-column: span 2 / span 2;
        }
    }
    // .statistics__item-title
    &__item-title {
        font-family: "HeliosCond";
        font-size: toRem(40);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    // .statistics__item-desc
    &__item-desc {
        font-size: toRem(16);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

//========================================================================================================================================================
// departments
.departments {
    @include adaptiveValue("padding-top", 110, 32);
    @include adaptiveValue("padding-bottom", 55, 16);
    // .departments__container
    &__container {
    }
    // .departments__title
    &__title {
    }
    // .departments__subtitle
    &__subtitle {
        font-family: "HeliosCond";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 40, 24);
        @include adaptiveValue("margin-top", 64, 32);
        @media (max-width: $mobile) {
            letter-spacing: -1.44px;
        }
    }
    // .departments__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top: toRem(32);
        @include adaptiveValue("gap", 48, 24);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}
.title {
}
.services {
    // .services__item
    &__item {
        position: relative;
    }
    // .services__subtitle
    &__subtitle {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: toRem(16);
        @include adaptiveValue("font-size", 20, 16);
    }
    // .services__content
    &__content {
    }
    // .services__more
    &__more {
    }
}
.block {
    // .block__content
    &__content {
        border-bottom: 1px solid $mainColor;
    }
    // .block__more
    &__more {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.h-32 {
    display: block;
    margin-bottom: toRem(32);
}
.departments__img {
    max-width: 100%;
    @include adaptiveValue("margin-top", 120, 64);
    img {
        width: 100%;
    }
}

//========================================================================================================================================================

// clients
.clients {
    @include adaptiveValue("padding-top", 55, 16);
    @include adaptiveValue("padding-bottom", 110, 32);
    // .clients__container
    &__container {
    }
    // .clients__title
    &__title {
    }
    // .clients__desc
    &__desc {
        @include adaptiveValue("margin-top", 32, 16);
    }
    // .clients__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        @include adaptiveValue("gap", 48, 24);
        @include adaptiveValue("margin-top", 64, 24);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    // .clients__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $blueColor;
        text-align: center;
        @include adaptiveValue("padding-top", 32, 16);
        @include adaptiveValue("padding-bottom", 32, 16);
        @include adaptiveValue("padding-left", 12, 24);
        @include adaptiveValue("padding-right", 12, 24);
    }
    // .clients__icon
    &__icon {
        max-width: 100%;
    }
    // .clients__subtitle
    &__subtitle {
        margin-top: toRem(20);
        font-size: toRem(20);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    // .clients__item-desc
    &__item-desc {
        margin-top: toRem(12);
        padding-top: toRem(8);
        text-align: center;
        border-top: 1px solid $mainColor;
        font-size: toRem(16);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
.title {
}

//========================================================================================================================================================
// why
.why {
    @include adaptiveValue("padding-top", 110, 32);
    @include adaptiveValue("padding-bottom", 110, 32);
    // .why__container
    &__container {
    }
    // .why__wrapper
    &__wrapper {
        display: flex;
        @include adaptiveValue("gap", 64, 24);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .why__img
    &__img {
        max-width: 100%;
        width: 100%;
        @media (max-width: $tablet) {
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    // .why__content
    &__content {
    }
    // .why__title
    &__title {
    }
    // .why__desc
    &__desc {
        @include adaptiveValue("margin-top", 32, 16);
    }
}
.title {
}
.desc {
}
.benefits {
    // .benefits__wrapper
    &__wrapper {
        display: flex;
        @include adaptiveValue("gap", 64, 24);
        @include adaptiveValue("margin-top", 82, 32);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .benefits__content
    &__content {
        max-width: toRem(553);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
    // .benefits__subtitle
    &__subtitle {
        font-family: "HeliosCond";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 40, 24);
    }
    // .benefits__desc
    &__desc {
        @include adaptiveValue("margin-top", 32, 16);
    }
    // .benefits__slider
    &__slider {
    }
    // .benefits__img
    &__img {
        max-width: toRem(553);
        width: 100%;
        position: relative;
        @include adaptiveValue("height", 462, 309);
        @media (max-width: $tablet) {
            max-width: 100%;
        }
        img {
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                @media (max-width: $mobile) {
                    width: 100%;
                    height: toRem(310);
                }
            }
            &:nth-child(2) {
                position: absolute;
                top: 0;
                right: 0;
                @media (max-width: $mobile) {
                    display: none;
                }
            }
            &:nth-child(3) {
                position: absolute;
                bottom: 0;
                right: 0;
                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }
}

// slider
/* Стилі для пагінації */
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    display: inline-block;
    border-radius: 0.2px;
    background: #d9d9d9;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-right: toRem(12);
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #979696;
}
//  custom
.benefits {
    // .benefits__slider
    &__slider {
        margin-top: toRem(0);
        &-wrapper {
            gap: toRem(0);
            margin-top: toRem(64);
        }
    }
    // .benefits__wrapper
    &__wrapper {
    }
    // .benefits__slide
    &__slide {
        margin-top: toRem(16);
        &-subtitle {
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include adaptiveValue("font-size", 20, 16);
        }
        &-text {
            margin-top: toRem(16);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include adaptiveValue("font-size", 16, 12);
        }
    }
}
.swiper-pagination {
    margin-top: toRem(48);
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
    font-family: "HeliosCond";
    font-size: toRem(24);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: toRem(32);
}
.swiper-button-next {
    font-family: "HeliosCond";
    font-size: toRem(24);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: toRem(32);
}
.swiper-scrollbar {
}

.swiper__buttons {
    display: inline-flex;
    align-items: center;
    gap: toRem(16);
}

//========================================================================================================================================================
// contact
.contact {
    @include adaptiveValue("padding-top", 110, 32);
    @include adaptiveValue("padding-bottom", 110, 32);
    // .contact__container
    &__container {
    }
    // .contact__wrapper
    &__wrapper {
        display: flex;
        gap: toRem(64);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            gap: toRem(48);
        }
    }
    // .contact__information
    &__information {
        max-width: toRem(360);
        @media (max-width: $tablet) {
            max-width: 100%;
            width: 100%;
        }
        img {
            max-width: 100%;
            height: 300px;
            width: 100%;
        }
    }
    // .contact__subtitle
    &__subtitle {
        font-family: "HeliosCond";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-top: toRem(32);
        @include adaptiveValue("font-size", 28, 36);
    }
    &__items {
        margin-top: toRem(32);
    }
    // .contact__item
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(8);
        &:not(:first-child) {
            margin-top: toRem(16);
        }
        img {
            max-width: toRem(24);
            max-height: toRem(24);
        }
        a {
            color: #979696;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include adaptiveValue("font-size", 20, 16);
            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    // .contact__main
    &__main {
        @media (max-width: $tablet) {
            width: 67%;
        }
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
    // .contact__content
    &__content {
    }
    // .contact__title
    &__title {
        font-family: "HeliosCond";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 40, 36);
    }
    // .contact__desc
    &__desc {
        @include adaptiveValue("margin-top", 32, 16);
    }
    // .contact__img
    &__img {
        @include adaptiveValue("max-width", 280, 100);
        img {
            width: 100%;
            @include adaptiveValue("max-width", 280, 100);
        }

        @media (max-width: $mobile) {
            display: none;
        }
        @media (max-width: $tablet) {
            margin-left: auto;
        }
    }
    &__form {
        // max-width: toRem(400);
        @include adaptiveValue("margin-top", 64, 32);
        div {
            &:not(:last-child) {
                margin-top: toRem(24);
            }
            &:first-child {
                margin-top: toRem(0);
            }
            input {
                padding: toRem(8) toRem(0);
                border-bottom: 1px solid #979696;
            }
        }
    }
}

//========================================================================================================================================================
// form

//========================================================================================================================================================
